
html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    height:100%;
   
}

body {
   
    background-color: aliceblue;
}

.container {
    
    width: 80%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}


/* .container {
      
    margin-top: 200px;
    width: 40%;
    float: right;
    padding: 10px;
} */

.panel {
    
    margin-bottom: 20px;
    
}

.inner {
    
    position: absolute;
    right:0;
    width: 40%;   
    
    background-color: darkorange;
    border-radius: 2%;
    margin-right: 20px;
    margin-top: 10%;
   
}

.box1 {
    width: 50%;
    margin-left: 20px;
}

.box2 {
    width:50%;
    margin-left: 20px;
    margin-top: 10%;
    margin-right: 20px;
   
}


@media only screen and (max-width: 760px)  {
   

        .container {
            position: relative;
            font-size: 15px;
            margin: 0px auto;
            min-height: 100%;
            font-size: medium;
            overflow-y: scroll;
        }
        
        .panel-right {
            position: static;
            width: 80%;
            margin-top: 10%;
            left: 0;
            margin-left: 20px;
            margin-bottom: 10%;
            
                      
        }
        
        .inner {
            position: static;
            width: 90%;
            margin-top: 5px;
            left: 0;
            margin-left: 20px;
            margin-bottom: 10%;
            box-sizing: content-box;
        }
        
        .box1 {
            
            width: 80%; 
            margin-left: 20px;
            margin-top: 10px
        }
        
        .box2 {
           position: static;
            width: 80%;
            margin-left: 20px;
            margin-top: 5px;
          
            box-sizing: content-box;
        }
        
        .send-btn {
        
            margin-left: 5px;
            padding: 15px 30px;
            background-color: #000;
            color: aliceblue;
        }
        
        .form {
            font-size: small;
           
          
        }
  
  }    



@media only screen and (max-width: 414px) { 
 
 
/* 
            .container {
                border: 1px solid;
                overflow: hidden;
                font-size: 15px;
                margin-top: 5px;
                margin-bottom: 100%;
              
                box-sizing: content-box;
            } */
           .container {
            position: relative;
            font-size: 15px;
            margin: 0px auto;
            min-height: 100%;
            font-size: medium;
            overflow-y: scroll;
           }

            .panel-right {
                position: static;
                width: 80%;
                left: 0;
                margin-left: 20px;
                                       
            }
            
            .inner {
                font-size: small;
                position: static;
                width: 80%;
                margin-left: 20px;
                box-sizing: content-box;
            }

            .form {
                font-size: smaller;
                padding: 0%;
                row-gap: 0%;
            }
        
            .box1 {
                
                width: 80%; 
                margin-left: 20px;
                margin-top: 10px
            }
            
            .box2 {
               position: static;
                width: 80%;
                margin-left: 20px;
                margin-top: 5px;
               height: 100%;
               
            }
        
}
    

.group {
    padding: 2px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    box-sizing: content-box;
}

.form h1 {
    margin-left: 10px;
   
}

.panel-right {
    margin-left: 20px;
    box-sizing: content-box
}

label {
    margin: 5px;
    color: aliceblue;
    font-size: medium;
}
.send-btn {
    
    max-width: 35px;
    margin-left: 2px;
    padding: 15px;
    background-color: #000;
    color: aliceblue;
}

input {
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
}

