
html, body {
    height:100%;
}

body {
   
    background-color: aliceblue;
}

.container {
    
    width: 80%;
    height: 100%;
   margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}


/* .container {
      
    margin-top: 200px;
    width: 40%;
    float: right;
    padding: 10px;
} */

.panel {
    
    margin-bottom: 20px;
    
}

.inner {
    
    position: absolute;
    right:0;
    width: 40%;   
    
    background-color: darkorange;
    border-radius: 2%;
    margin-right: 20px;
    margin-top: 10%;
   
}

.box1 {
    width: 50%;
    margin-left: 20px;
}

.box2 {
    width:50%;
    margin-left: 20px;
    margin-top: 10%;
    margin-right: 20px;
   
}


@media only screen and (max-width: 650px) {


        .container {
            border: 1px solid;
            position: relative;
            font-size: 15px;
            margin-top: 5px;
            height: 100%;
            font-size: medium;
            overflow: hidden;
            
        }
        
        .panel-right {
          
            width: 80%;
            margin-top: 10%;
            left: 0;
            margin-left: 20px;
            
                      
        }
        
        .inner {
            position: static;
            width: 80%;
            margin-top: 5px;
            left: 0;
            margin-left: 20px;
            overflow-y: scroll;
            box-sizing: content-box;
        }
        
        .box1 {
            position: static;
            width: 80%; 
            margin-left: 20px;
            margin-top: 10px
        }
        
        .box2 {
            position: static;
            width: 80%;
            margin-left: 20px;
            margin-top: 5px;
            overflow-y: scroll;
            box-sizing: content-box;
        }
        
        .send-btn {
        
            margin-left: 5px;
            padding: 15px 30px;
            background-color: #000;
            color: aliceblue;
        }
        
        .form {
            font-size: smaller;
            padding: 0%;
            row-gap: 0%;;
        }
  
  }    



/* @media only screen and (max-width: 460px) { */
    @media screen 
    and (device-width: 414px) 
    and (device-height: 846px) 
    and (-webkit-device-pixel-ratio: 4) 
    and (orientation: portrait) {
    
            .container {
                border: 1px solid;
                position: relative;
                font-size: 15px;
                margin-top: 5px;
                height: 100%;
                overflow: hidden;
            }
           
            /* .inner {
            width: 80%;
            position: absolute;
            left: 0;
            margin-left: 20px;
            margin-top: 80%;
     
            } */

            .panel-right {
          
                width: 100%;
                margin-top: 80%;
                left: 0;
                margin-left: 20px;
                overflow-y: scroll;
                box-sizing: content-box;
                          
            }
            
            .inner {
                font-size: smaller;
                position: static;
                width: 100%;
                margin-top: 70%;
                left: 0;
                margin-left: 20px;
                overflow-y: scroll;
                box-sizing: content-box;
            }

            .form {
                font-size: smaller;
                padding: 0%;
                row-gap: 0%;
            }
        
            .box1 {
                position: static;
                width: 80%; 
                margin-left: 20px;
                margin-top: 10px
            }
            
            .box2 {
                position: static;
                width: 80%;
                margin-left: 20px;
                margin-top: 5px;
                overflow-y: scroll;
                box-sizing: content-box;
            }
        
        

  }
    

.group {
    padding: 2px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    box-sizing: content-box;
}

.form h1 {
    margin-left: 10px;
   
}

.panel-right {
    margin-left: 20px;
    box-sizing: content-box
}

label {
    margin: 5px;
    color: aliceblue;
    font-size: medium;
}
.send-btn {
    
    max-width: 35px;
    margin-left: 2px;
    padding: 15px;
    background-color: #000;
    color: aliceblue;
}

input {
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
}

